body {
  margin: 0;
  font-family: "Segoe UI Semibold";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1170px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.second img {
  width: 1349px;
  max-width: 100%;
}

.third {
  height: auto;
  background-color: rgba(1, 163, 164,0.8);
  padding: 30px 0px;
  color: white;
}

.inspiration {
  border-bottom: 1px solid;
  padding-bottom: 7px;
  font-size: 25px;
  margin-bottom: 10px;
}

.thirddetail {
  float: left
}

.thirddetail2 {
  float: left
}

.thirddetail3 {
  float: left
}

input {
  width: 270px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid rgba(116, 185, 255,1.0);
  border-radius: 5px;
}

.search {
  margin-top: 64px;
  margin-left: 10px;
  width: 150px;
  background-color: rgba(75, 101, 132,1.0);
  color: white;
  transition: all 0.4s;
}

.search:hover {
  background-color: rgba(52, 31, 151,1.0);
  
}

.fa {
  padding-right: 5px;
}

.dest-icon img{
  height:200px;
  width:200px;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.7;
}

.dest-icon img:hover{
  opacity: 1;
}

.heading {
  color:rgb(1, 163, 164);
  font-family:"Racy Mango";
  font-size:22px;
  padding-top:20px;
  padding-bottom:20px;
}

.price{
  color:#778899;
}

.destination{
  padding-bottom:20px;
  float:left;
  width:33%;  
}

.dest-desc p{
  line-height:10px;	
}

.dest-desc h3{
  font-family:"Racy Mango";	
  font-size:25px;
  color:rgb(1, 163, 164);
  letter-spacing:3px;
}

.dest-desc h3:hover{
  cursor:pointer;
  color:#66cdaa;  
}

.dest-desc h3:active{
  color:#808080;  
}

.mid-wrapper {
  background-color:#e0ffff;
  padding-bottom:50px;
  text-align:center;
}

.clear{
  clear:left;
}

/* Kelompok Header */

.headerp { 
  color: #000000;
  font-size: 20px;
  font-family: Verdana;
  background-color: #ffffff;
  width: 1200px;
  max-width: 100%;
  height: 40px;
 }

.headerh2 {
  color: #000000;
  font-size: 24px;
  text-align: center;
  font-family: Verdana;
  background-color: #0022ff;

 }

.header {
   width: auto;
   border-radius: 20px;
   height: 60px;
   max-width: 100%;
   background-color: rgb(42, 64, 187);
 }
 .header li {
   color: white;
   border-radius: 20px;
   margin: 10px;
   background-color: rgb(2, 123, 204);
   float: left;
   opacity: 0.8;
   padding: 10px;
   border: 1px solid;
 }

 .header li:hover {
  opacity: 1.0;
 }

 /* Kelompok Footer */
 footer {
  height:auto;
  max-width: 100%;
  width: auto;
  background-color: #A6EBC9;
  font-family: "Avenir Next"
}
.isi {
  float:left;
  padding-left: 20px;
}

.slogan1 {
 
}

.isi2 {
  float:left;
  padding-left: 20px;

}
.isi3 {
  float:right;
  padding-right: 20px;
}
.daftar-kontak {
  padding:0px;
}
.kontak {
  border-bottom: solid 1px #232323;
}
.isi3 h3 {
  border-bottom: solid 1px #232323;

}